.project {
  width: 55rem;
  margin-bottom: 5.6rem;

  img {
    border-radius: 2.4rem;
    width: 100%;
  }
}

.title {
  margin-top: 3.6rem;
  font-size: 2.2rem;
  color: var(--black-color);
  text-decoration: none;
}