@import './fonts.scss';
@import './typography.scss';

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Proxima Nova';
  font-size: 2.6rem;
  font-weight: 300;
  background: #fff;
}
