@import './variables.scss';
@import './fonts.scss';
@import './typography.scss';
//@import 'devices';

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: var(--white-color);
  font-family: var(--font-family);
  font-size: 2.6rem;
  font-weight: 300;
}

.wrapper {
  max-width: 114rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}