.h1{
  font-size: 6.8rem;
  font-weight: 400;
}

.h2{
  font-size: 5.8rem;
  font-weight: 400;
}
.h3{
  font-size: 4.8rem;
  font-weight: 400;
}
.h4{
  font-size: 3.8rem;
  font-weight: 400;
}

.h5{
  font-size: 2rem;
  font-weight: 400;
}

.overline{
  font-size: 1.5rem;
  font-weight: 700;
}