h1 {
  font-size: 6.8rem;
  font-weight: 300;
}

h2 {
  font-size: 5.8rem;
  font-weight: 300;
}

h3 {
  font-size: 4.8rem;
  font-weight: 300;
}

h4 {
  font-size: 3.8rem;
  font-weight: 300;
}

h5 {
  font-size: 2rem;
  font-weight: 300;
}

.overline {
  font-size: 1.5rem;
  font-weight: 700;
}