:root {
  //Colors
  --white-color: white;
  --gray-color: #c4c4c43d;
  --light-gray-color: #858585;
  --white-blue-color: #F2FDFC;
  --black-color: #000;
  //Fonts
  --font-family: 'Proxima Nova';
  //Global
  --section-padding: 8rem 0;
}