.titleImagesGridSection {
  padding: var(--section-padding);
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5rem 2.4rem;
  margin-top: 12rem;

  article {
    width: calc(100% / 2 - 2.4rem / 2);

    img {
      width: 100%;
      border-radius: 0.6rem;
    }
  }
}