.FeaturedProjectsSection {
  padding: var(--section-padding);

  :global .wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem 0;
  }

  //background: #F2FDFC;

  .content {
  }

  .title {
    text-align: center;

    & > div {
      color: #858585;
    }
  }

  .projectsList {
    //max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .project {
    //height: 78rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    p {
      font-size: 1.6rem;
      //TODO: switch color to var
      color: #858585;
    }

    img {
      width: 100%;
      border-radius: 2.4rem;
      margin-bottom: 4rem;
    }
  }

  .images {
  }

  .imageWrapper {
    position: sticky;
    top: calc(50vh - 39rem);
    border-radius: 2.4rem;
    overflow: hidden;
    width: 55rem;
    height: 78rem;
  }
}