.FeaturedProjectsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12rem auto 10rem;
  gap: 0 2rem;
  grid-template-areas:
  "header header"
  "projects images"
  "footer footer";

  & > div {
    width: 100%;
  }

  .title {
    & > div {
      color: #858585;
    }
  }

  header {
    grid-area: header;
  }

  .projectList {
    grid-area: projects;
  }

  .project {
    height: 78rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      margin: 2.5rem 0;
    }

    p {
      font-size: 16px;
      color: #858585;
    }
  }

  .images {
    grid-area: images;
  }

  .imageWrapper {
    position: sticky;
    top: calc(50vh - 39rem);
    width: 55rem;
    height: 78rem;
    overflow: hidden;
    border-radius: 2.4rem;
  }

  footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}