.FeaturedProjectsSection {
  padding: var(--section-padding);
  //background: #F2FDFC;

  .content {
    //display: flex;
    //justify-content: space-between;
    margin-top: 8rem;
  }

  .title {
    text-align: center;

    & > div {
      color: #858585;
    }
  }

  .projectsList {
    //max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 6.8rem;
  }

  .project {
    //height: 78rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h4 {
      margin: 2.5rem 0;
    }

    h5 {

    }

    p {
      font-size: 1.6rem;
      color: #858585;
    }

    img {
      width: 100%;
      border-radius: 2.4rem;
      margin-bottom: 4.5rem;
    }
  }

  .images {
  }

  .imageWrapper {
    position: sticky;
    top: calc(50vh - 39rem);
    border-radius: 2.4rem;
    overflow: hidden;
    width: 55rem;
    height: 78rem;
  }

  button {
    margin: 11rem auto 0 auto;
  }
}