.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.7rem;
  border: 1px solid #858585;
  background: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #22262C;
  border-radius: 10rem;
  cursor: pointer;
  padding: 0 4rem;
  width: 100%;
  @include devices(desktop) {
    width: auto;
  }

  svg {
    margin-left: 2.3rem;
  }
}