.overlay {
  background: var(--grey-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  min-height: 100%;
}

.menu {
  background: var(--white-color);
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: -0.5rem 0 2.2rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
  width: 62rem;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "network linksList linksList"
  "footer footer footer";
}

.networks {
  grid-area: network;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  a {
    margin: 1.25rem 0;
    line-height: 0;
  }
}

.list {
  grid-area: linksList;
  font-size: 4.5rem;
  list-style: none;

  a {
    color: #22262C;
    text-decoration: none;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: footer;
  font-size: 1.8rem;
  color: #858585;

  div {

  }

  a {
    font-size: 2rem;
    color: #000;
  }
}

.closeButton {
  position: absolute;
  background: none;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
  margin: 7rem 6rem 0 0;
}
