.SliderSection {
  padding: 8rem 0;
  p{
    font-size: 1.8rem;
  }
}

.slides {
  margin-top: 4rem;
}

.slide {
  //width: 32.5rem;
  padding: 0 3rem;

  img {
    border-radius: 1.6rem;
    width: 100%;
  }

  svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  a {
    font-size: 1.8rem;
    color: #000;
    text-decoration: none;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-top: 3.6rem;

  a {
    margin-left: 1.6rem;
  }
}