.heroSection {
  padding: 8rem 0;

  button {
    margin-top: 8rem;
  }

  :global .overline {
    margin-top: 8rem;
  }

  .footer {
    margin-top: 15.6rem;

    p {
      margin-top: 1rem;
    }
  }
}